@import '../../components/todoItem/todoItem';
@import '../../components/filters/filters';
@import '../../components/headerFooter/index';
@import '../../components/modalWindow/modalWindow';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters-container {
    margin-bottom: 15px;
}

.cms-table-column {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 10px;
}