*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filters-container {
    margin-bottom: 15px;
}

.cms-table-column {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 10px;
}