* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-bottom: 30px;
    text-align: left;

    .header-title {
        padding: 10px 0 10px 0;
        font-weight: bold;
        width: 95%;
        margin: auto;
    }
}

.form {
    border: 1px solid black;
    width: 20%;
    margin: auto;
}